.boxHeader{
    position: absolute;
    bottom: 10%;
}
.txtHeader{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
}
.contactMain{
    padding: 2% 15%;
    display: flex;
}
.subMain1{
    padding: 0 15px;
}
.subMain2{
    background-color: #888888;
    padding: 10px 20px;
}
.subMain2Ifo{
    margin: 10px 0px;
    font-size: 3em;
    color: #fff;
    display: flex;
}
.subMain2Ifo div{
    margin-left: 0.3em;
}
.subMain2Ifo div span{
    display: block;
    font-size: 0.32em;
}