.transparent {
    background-color: transparent !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 100%;
}

.btnBgHead {
    height: 50px !important;
    border: 1px solid transparent !important;
    border-radius: 35px !important;
    font-weight: 500 !important;
}

.btnBgHead>svg {
    display: inline;
    margin-left: 5px;
}

.btnFilter{
    display: flex !important;
    flex-direction: row !important;
    border: 1px solid transparent !important;
    border-radius: 15px !important;
}

.btnFilter>svg {
    display: inline;
    margin: 5px;
    margin-right: 0;
}

.btnFilterMb,
.datePicker {
    width: 100% !important;
}
